In [1]:
%load_ext sql

In [2]:
import configparser
from create_cluster import create_session, get_connection_str

config = configparser.ConfigParser()
config.read('dwh.cfg')
session = create_session(config['AWS']['KEY'],config['AWS']['SECRET'])
con_str = get_connection_str(session, config)

In [3]:
%sql {con_str}

'Connected: dwhuser@dwh'

In [4]:
%sql SELECT COUNT(*) AS total_rows FROM artists

 * postgresql://dwhuser:***@dwhcluster.cphzpcdxff0l.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [5]:
%sql SELECT COUNT(*) AS total_rows FROM songs

 * postgresql://dwhuser:***@dwhcluster.cphzpcdxff0l.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [6]:
%sql SELECT COUNT(*) AS total_rows FROM users

 * postgresql://dwhuser:***@dwhcluster.cphzpcdxff0l.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [7]:
%sql SELECT COUNT(*) AS total_rows FROM time

 * postgresql://dwhuser:***@dwhcluster.cphzpcdxff0l.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [8]:
%sql SELECT COUNT(*) AS total_rows FROM songplays

 * postgresql://dwhuser:***@dwhcluster.cphzpcdxff0l.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [9]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cphzpcdxff0l.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(343, datetime.datetime(2018, 11, 5, 5, 57, 5, 796000), 57, 'free', 'SOCGOZK12A8151BD5D', 'ARM0P6Z1187FB4D466', 56, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"'),
 (32, datetime.datetime(2018, 11, 5, 15, 43, 22, 796000), 97, 'paid', 'SODHZVG12A8C1404DD', 'ARS5WKC1187B9AC7D1', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (158, datetime.datetime(2018, 11, 5, 17, 31, 40, 796000), 35, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 171, 'St. Louis, MO-IL', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (344, datetime.datetime(2018, 11, 8, 14, 27, 8, 796000), 81, 'free', 'SOQDMXT12A6D4F8255', 'ART5MUE1187B98C961', 317, 'Las Cruces, NM', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (0, datetime.datetime(2018, 11, 9, 19, 57, 57, 796000), 36, 'paid', 'SODWXQV12A6310F10D', 'AR6892W1187B9AC71B', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]